{% extends "base.html" %}

{% block content %}
  <div class="container-fluid" style="">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="content">
          <h1>Editing location</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-warning" role="alert">
                <p>To add or replace this location with another location, please contact us.</p>
              </div>
            </div>

            <div class="col-md-6" id=edit-form>
            </div>
              
            <!-- <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Other Links</div>
                <div class="panel-body">
                  <a href="/locations/26108/listings">Manage Listings for this Location</a>
                </div>
              </div>
            </div> -->
          </div>
          <div class="form-group search-back">
            <button type="button" class="btn btn-success search-button" id="edit_location">Save</button>
          </div>
          <span class='back'>
            <a href="/google_review.html">Back</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="js/{{ files['edit.js']['name'] }}" integrity="{{ files['edit.js']['hash'] }}"></script>
  <script src="js/{{ files['edit_action.js']['name'] }}" integrity="{{ files['edit_action.js']['hash'] }}"></script><script src="js/{{ files['httpobs.js']['name'] }}" integrity="{{ files['httpobs.js']['hash'] }}"></script>
  
{% endblock %}