{% extends "base.html" %}

{% block content %}
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div id="auth-message"></div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Locations</th>
                <th>Average Rating</th>
                <th></th>
              </tr>
            </thead>
            <tbody id='dataBody'></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a role="button" class="btn btn-primary" id="another-add-location" href="/new_location.html">Add Another Location</a>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="js/{{ files['httpobs.js']['name'] }}" integrity="{{ files['httpobs.js']['hash'] }}"></script>
  
{% endblock %}